.dpDwnMenu{
    padding: 15px 15px;
    background: white;
    width: 80%;
    border-radius: 15px 15px 0 0;
}

.dpDwnText{
    font-size: 10px;
    color: #818181;
}

#dashRow{
    padding: 0 0;
}

.complementos{
    margin-top: -5%;
}

.complementosCadastro{
    margin-top: -2%;
}
